
<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list utility-links">
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}"><img class="utility-icon-image" data-icon="email" src="{{ "/assets/icons/utility-email.svg" | relative_url }}" alt="" aria-hidden="true"><span>Email the team</span></a></li>
            {% endif %}
            <li><a href="https://siennaskeetersmerch.itemorder.com/shop/home/"><img class="utility-icon-image" data-icon="store" src="{{ "/assets/icons/utility-store.svg" | relative_url }}" alt="" aria-hidden="true"><span>Team Store</span></a></li>
            <li><a href="mailto:david@thiele.pro"><span class="utility-icon ui-icon" data-icon="webmaster" aria-hidden="true"></span><span>Contact Webmaster</span></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list utility-links">
          {% if site.facebook_username %}
          <li><a href="https://www.facebook.com/{{ site.facebook_username }}"><img class="utility-icon-image" data-icon="facebook" src="{{ "/assets/icons/utility-facebook.svg" | relative_url }}" alt="" aria-hidden="true"><span>Facebook</span></a></li>
          {% endif %}
          {% if site.twitter_username %}
          <li><a href="https://twitter.com/{{ site.twitter_username }}"><img class="utility-icon-image" data-icon="social-x" src="{{ "/assets/icons/utility-x.svg" | relative_url }}" alt="" aria-hidden="true"><span>Twitter/X</span></a></li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Team updates, schedules, roster information, and baseball news for the Sienna Skeeters.</p>
      </div>
    </div>

  </div>

</footer>
